
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.footer-section{
    width: 1600px;
    height: 600px;
    margin:60px auto;
    background: rgb(7, 2, 17);
    display:flex;
}
.footer-container{
    /* border:1px solid red; */
    width:1320px;
    height: 360px;
    margin:120px 140px;
   
}
.item1, .item2, .item3{
    /* border:1px solid red; */
    width: 1185px;
    height: 70px;
    margin: 0 auto;
}
.footer-container hr{
    width: 1185px;
    margin:36px auto;
    color:#ffffff04;
}
.item1 .left, .item1 .right{
    /* border:1px solid red; */
    height: 70px;
    width:350px;
}
.item1{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.item1 p{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.item2{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.item3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}